<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Item:</strong>
  <%= @user.item %>
</p>

<p>
  <strong>Amt:</strong>
  <%= @user.amt %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
